/* global*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
    text-transform: capitalize;
}

a{
    text-decoration: none;
    text-transform: uppercase;
}

ul{
    list-style: none
}

html{
    scroll-behavior: smooth;
    font-size: 10px;
}

small , span , a{
    display: block;
}

img{
    max-width: 100%;
}

:root{
    --main-color: #85b0be;
    --second-color: #95bbc7;
    --third-color: #052C3F;
    --forth-color: #4d8090;
    --wh-color: #fff;
    --bg-color: #EFF5F7;
    --main-transition: .5s;
}

 .btn{
    display: block;
    color: var(--wh-color);
    font-size: 2rem;
    background-color: transparent;
    width: 17rem;
    height: 4.5rem;
    border: 0.2rem solid var(--main-color);
    line-height: 4rem;
    border-radius: 1rem;
    text-align: center;
    transition: background-color .5s;
    margin: auto;
}
.btn:hover{
    background-color: var(--main-color);
}

.section-heading{
    text-align: center;
    margin-bottom: 4rem;
}
.section-heading .section-heading-title{
    margin-bottom: 1.5rem;
    color: var(--third-color);
    font-size: 4rem;
}
.section-heading .section-heading-desc{
    color: var(--main-color);
    font-size: 1.8rem;
}

/*media for section-heading*/
@media (max-width: 767px){
    .section-heading .section-heading-desc{
        line-height: 1.8;
    }
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.mg-t{
    margin-top: 7rem;
}
/* media for contianer*/
/*small*/
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

/*medium*/
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

/*larg*/
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

/* --------------------------------------------------------------------------------- */
/* header */
header{
    width: 100%;
    position: fixed;
    z-index: 900;
    padding: 1.5rem;
 }

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content .logo-header .logo{
    font-weight: normal;
    font-size: 4rem;
    cursor: pointer;
    color: var(--wh-color);
}

.header-content .nav{
    display: flex;
    justify-content: space-between;
}
@media(max-width: 767px){
      .header-content .nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 30rem;
        height: 100vh;
        background-color: var(--third-color);
        align-items: center;
        padding: 11rem 2rem;
        transition: var(--main-transition) all cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: translateX(100%);
        }
}

.header-content .nav li a{
    padding: 0 1.5rem;
    color: var(--wh-color);
    transition: var(--main-transition);
    font-size: 1.8rem;
}
@media(max-width: 767px){
    .header-content .nav li a{
      margin-bottom: 0.8rem;
      color: var(--wh-color);
      
    }
}

.header-content .nav li a:hover{
    color: var(--main-color);
}

.menu-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    cursor: pointer;
    z-index: 4;
    transition: var(--main-transition);
}
@media (min-width: 768px) {
    .menu-icon{
        display: none;
    }
}

.menu-icon div{
    display: block;
    height: 0.2rem;
    width: 2.2rem;
    transition: var(--main-transition);
    background-color: var(--wh-color);
}


.close .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}

.close .line2{
    opacity: 0;
}

.close .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}

.open.nav{
    transform: translateX(0);
}
/* --------------------------------------------------------------------------------- */
.home{
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

.home-content .home-title{
    color: var(--wh-color);
    font-size: 4rem;
    font-weight: bold;
}
@media (max-width: 767px){
    .home-content .home-title{
        font-size: 3rem;
    }
}

.home-content .home-desc{
    font-size: 2rem;
    font-weight: normal;
    padding: 1.5rem 0;
    color: var(--wh-color);
}
/* ---------------------------------------------------------------------------------- */
/* about */
.about{
    margin-top: 7rem;
}

@media (min-width: 768px){
     .about-content{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
        grid-gap: 3rem;
     }
}

.about-content .about-item .about-title{
    color: var(--third-color);
    padding-bottom: 3rem;
    font-size: 4rem;
}

@media (max-width: 768px){
     .about-content .about-item .about-title{
        font-size: 3rem;
     }
}

.about-content .about-item .about-desc{
    color: var(--forth-color);
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
}

.about-content .about-item .about-info{
     padding-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.6;
}
/* ------------------------------------------------------------------------------------ */
.services{
    background-color: var(--bg-color);
    padding: 2rem;
}

.services-content{
    text-align: center;
}
@media(min-width: 768px){
    .services-content{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        grid-gap: 3rem;
    }
}

.services-content .services-item:not(:last-child){
    margin-bottom: 3rem;
}

.services-content .services-item:hover .services-title{
    color: var(--forth-color);
}

.services-content .services-item i{
    font-size: 3rem;
 }

.services-content .services-item:hover i{
    color: var(--forth-color);
}

.services-content .services-item .services-title{
    font-size: 2rem;
    padding: 2rem 0;
}

.services-content .services-item .services-desc{
    color: var(--third-color);
    font-size: 1.7rem;
}

.services-box{
    margin-top: 7rem;
    text-align: center;
}

@media (min-width: 767px){
    .services-box{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        grid-gap: 3rem;
    }
}

.services-box .box-item{
    margin-top: 3rem;
}

.services-box .box-item img{
    width: 100%;
    border-radius: 1rem;
}

.services-box .box-item .box-title{
    padding: 1rem;
    color: var(--third-color);
    font-size: 2rem;
}

.services-box .box-item .box-desc{
    padding: 1.5rem 0;
}

.services-box .box-item button{
    color: var(--main-color);
    cursor: pointer;
}

.services-box .box-item button:hover{
    color: var(--wh-color);
}
/* ---------------------------------------------------------------------------------- */
/* portfolio */
.portfolio .shuffle{
    display: flex;
    justify-content: center;
}

.portfolio .shuffle li {
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: normal;
    transition: var(--main-transition);
    cursor: pointer;
}

.portfolio .shuffle li.active, .portfolio .shuffle li:hover{
    color: var(--main-color);
}
@media(min-width: 768px){
    .portfolio-content{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        grid-gap: 2rem;
    }
}

.portfolio .portfolio-content .portfolio-item{
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-content .portfolio-item img{
    border-radius: 1rem;
}

.portfolio .portfolio-content .portfolio-item .caption{
    position: absolute;
    left: 0;
    padding: 2rem;
    background-color: var(--third-color);
    width: 100%;
    transition: var(--main-transition);
    bottom: -100%;
}

.portfolio .portfolio-content .portfolio-item .caption .caption-title{
    color: var(--wh-color);
    font-size: 2.3rem;
}

.portfolio .portfolio-content .portfolio-item:hover .caption{
    bottom: 0;
}
/* ----------------------------------------------------------------------------------------------------- */
/* team */
.team{
    background-color: var(--bg-color);
    padding: 2rem;
}
@media (min-width:768px){
    .team-content{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-gap: 4rem;
        text-align: center;
    }
}

.team-content .team-item{
    transform: scale(1.1);
    text-align: center;
    margin-bottom: 4rem;
}
@media (max-width: 768px){
   .team-content .team-item{
     transform: scale(1);
   }
}

.team-content .team-item img{
    position: relative;
    padding-bottom: 1.5rem;
    border-radius: 1rem;
}

.team-content .team-item .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    opacity: 0;
    padding-bottom: 0.5rem;
    transition: opacity var(--main-transition);
}

.team-content .team-item:hover .social-icon{
    opacity: 1;
}
.team-content .team-item .social-icon li a{
    display: block;
    padding: 0.5rem 0.8rem;
    color: var(--third-color);
    font-size: 2rem;
    transition: color var(--main-transition);
}
.team-content .team-item .social-icon li a:hover{
    color: var(--forth-color)

}

.team-content .team-item .team-name{
    color: var(--third-color);
    padding-bottom: 1rem;
    font-size: 2rem;
}

.team-content .team-item .team-jop{
    color: var(--forth-color);
    font-size: 1.5rem;
}
/* --------------------------------------------------------------------------------------------------- */
.pricing-content{
    text-align: center;
}
@media (min-width: 768px){
    .pricing-content{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        grid-gap: 2rem;
    }
}

.pricing-item{
    padding: 40px;
    box-shadow: 0px 2px 1.5rem rgb(18 66 101 / 8%);
}

.pricing-item:nth-child(2){
    background-color: var(--bg-color);
}

.pricing-item .pricing-title{
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
    color: var(--third-color);
}

.pricing-item .pricing-desc{
    padding-bottom: 2rem;
    font-size: 2rem;
}

.pricing-item .pricing-desc span{
    font-size: 3rem;
    padding: 0 0.5rem;
}

.pricing-item .pricing-info{
    padding-bottom: 0.8rem;
    font-size: 1.4rem;
    color: var(--forth-color);
}

.pricing-item .pricing-del{
    padding-bottom: 1.5rem;
    font-size: 1.4rem;
    color: var(--third-color)
}

.pricing-item .btn{
    background-color: var(--main-color);
    border: none;
}

.pricing-item .btn:hover{
   background-color: var(--forth-color);
}
/* --------------------------------------------------------------------------------------------------------- */
/* contact */
.contact .mab iframe{
    width: 100%;
    margin-bottom: 2rem;
}


















/* ------------------------------------------------------------------------------------ */
/* btn to up */
.btn-up{
    background-color: var(--forth-color);
    color: var(--wh-color);
    border: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    display: none;
    
}
