/* global*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}

ul{
    list-style: none
}
html{
    scroll-behavior: smooth;
}
small , span{
    display: block;
}
:root{
    --main-color: #85b0be;
    --second-color: #95bbc7;
    --third-color: #052C3F;
    --forth-color: #4d8090;
}

/* --------------------------------------------------------------------------------- */











